@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
}

#box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 10em;
  flex-direction: column;
  justify-content: center;
  z-index: 50;
  color: white;
}

#title {
  color: white;
  font-size: xxx-large;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

section {
  font-weight: 300;
}

main {
  padding: 2em;
  display: flex;
  position: absolute;
  flex-wrap: nowrap;
  height: 10em;
  flex-direction: column;
  justify-content: left;
  z-index: 50;
  color: white;
}

#subtitle {
  color: white;
  font-size: small;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

body {
  background: black;
}

.links {
  padding: 0;
  transition: all ease 0.5s;
}

.links:hover {
  padding-left: 0.5em;
  color: pink;
}